<div class="d-none d-lg-block">

  <div class="mb-7 p-7 bg-white border rounded-4 text-center">
    <img src="/images/hsu-hsiang02.jpg" alt="Frank Chiu" class="rounded-circle mb-4" style="width: 120px; height: 120px; object-fit: cover;">
    <h3 class="mb-2 fs-5 fw-bold">徐享／享哥</h3>
    <p class="text-primary fw-semibold mb-2">AI應用規劃師</p>
    <p class="mb-3 text-secondary">
      具有 10 年經驗在數位行銷與電商廣告領域，專精生成式AI應用與個人資料保護，致力於以獨特商業洞察與實戰案例研討，助力品牌突破成長瓶頸。
    </p>
    <div class="d-flex justify-content-center align-items-center gap-2">
      <a class="icon-link link-primary-600 px-2 fs-4" href="https://www.instagram.com/skypassion2013/">
        <i class="bi bi-instagram"></i>
      </a>
      <a class="icon-link link-primary-600 px-2 fs-4" href="https://www.facebook.com/aihsaing/">
        <i class="bi bi-facebook"></i>
      </a>
      <a class="icon-link link-primary-600 px-2 fs-4" href="https://www.youtube.com/channel/UC8f4hKwj7P4ca_lcaDFoxiQ">
        <i class="bi bi-youtube"></i>
      </a>
    </div>
  </div>

  <!-- portaly.cc E-mail 搜集 -->
  <iframe src="https://portaly.cc/embed/block/skypassion5000/c2GvD4Clmr5wffdiYeqJ" width="306" height="450" style="border:0;" frameborder="0" loading="lazy"></iframe>

  <% if(page.toc){ %>
  <div class="mb-7 p-7 bg-primary-100 rounded-4">
    <h3 class="mb-4 text-primary-700">文章目錄</h3>
    <div class="d-flex flex-wrap gap-2">
      <div id="toc" class="toc-article">
        <%- toc(page.content) %>
      </div>
    </div>
  </div>
  <% } %>

  <div class="mb-7 p-7 bg-primary-100 rounded-4">
    <h3 class="mb-4 text-primary-700">分類</h3>
    <ul class="list-unstyled mb-0">
      <% site.categories.each(function(category){ %>
        <li class="mb-3">
          <a class="link-primary-600 text-decoration-none" href="<%= url_for(category.path) %>">
            <%= category.name %> (<%= category.posts.length %>)
          </a>
        </li>
      <% }) %>
    </ul>
  </div>
  
  <div class="mb-7 p-7 bg-primary-100 rounded-4">
    <h3 class="mb-4 text-primary-700">標籤</h3>
    <div class="d-flex flex-wrap gap-2">
      <% site.tags.each(function(tag){ %>
        <a class="badge fs-6 lh-base fw-normal text-primary-700 bg-primary-200 rounded-4 text-decoration-none" href="<%= url_for(tag.path) %>">
          <%= tag.name %> (<%= tag.posts.length %>)
        </a>
      <% }) %>
    </div>
  </div>

</div>